{# src/Accounting/SuppliersProductsBundle/Resources/views/Default/index.html.twig #}
{% extends 'AccountingSuppliersProductsBundle::Default/index.html.twig' %}

{% block form %}
{% include 'AccountingSuppliersProductsBundle::Filter/form.html.twig' %}<br />
{% endblock %}
      
{% block grid %}
    <table id="grid" style="height: 500px">
        <thead>
            <tr>
                <th data-field="price_date">Buy Date</th>
                <th data-field="supplier_name">
                    Supplier<br />
                    <input id="supplier_filter" class="k-input k-textbox" data-bind="value: supplier_name" style="width: 100%" />
                </th>
                <th data-field="product_name">
                    Product Name<br />
                    <input class="k-input k-textbox" data-bind="value: product_name" style="width: 100%" />
                </th>
                <th data-field="stock">Stock (units)</th>
                <th data-field="currency_price">Price<br>Currency</th>
                <th data-field="local_price">Price<br>Lei</th>
                <th data-field="amount"><b>Amount</b></th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts_embedded %}
<script>
var spFilterUrlObj = { read: "{{ path('AccountingSuppliersProductsBundle_list') }}" }
</script>
<script src="{{ asset('bundles/accounting/js/sp.schema.js') }}"></script>
<script src="{{ asset('bundles/accounting/js/sp.columns.js') }}"></script>
<script src="{{ asset('bundles/accounting/js/sp.filter.js') }}"></script>
{% endblock %}
