{# src/Accounting/SuppliersProductsBundle/Resources/views/Default/product.html.twig #}
<div id="unitNew">
    <form id="unitForm">
        <div class="k-edit-form-container" style="width: 290px">
            <div class="k-edit-field"><input class="k-input k-textbox" data-bind="value: name" /></div>
            <a class="k-button k-button-icontext k-grid-update" href="#" data-bind="click: save"><span class="k-icon k-update"></span>Save</a>
        </div>
    </form>
</div>