{# src/Accounting/ProfitBundle/Resources/views/Page/index.html.twig #}
{% extends 'AccountingProfitBundle::layout.html.twig' %}

{% block javascripts_embedded %}
    <script>
        var profitUrlObj = {read: "{{ path('AccountingProfitBundle_list') }}"};
    </script>
    <script src="{{ asset('bundles/accounting/js/profit.main.js') }}"></script>
{% endblock %}

{% block body %}
    <h2>Profit</h2>
    <div id="clientsDb">

        <div id="grid" style="height: 350px"></div>

    </div>
{% endblock %}
    
    
