{# src/Accounting/WarehouseBundle/Resources/views/Default/index.html.twig #}
{% extends 'AccountingWarehouseBundle::layout.html.twig' %}

{% block body %}
    <h2>Warehouse</h2>
    <ul id="menu">
        <li><a href="{{ path('AccountingWarehouseBundle_index') }}">Last month</a></li>
    </ul>
    <div id="clientsDb">

      {% block form %}
      <div class="form-picker">
                <input id="monthpicker" value="" style="width:150px" />

                <button class="k-button" id="month_search">Search</button>
            </div>
      {% endblock %}

        <div id="" style="height: 500px">
            <table id="grid">
                <thead>
                    <tr>
                        <th data-field="product_group">Product Group</th>
                        <th data-field="code">code</th>
                        <th data-field="product_name">Product Name</th>
                        <th data-field="unit">Unit</th>
                        <th data-field="first_stock" colspan="2">
                        <table>
                            <tr colspan="2"><td>2012/10/31</td></tr>
                            <tr><td style="width: 50%">Stock</td><td>Amount</td></tr>
                        </table>
                        </th>
                        <th data-field="income_stock" colspan="4" style="padding-left: 0;padding-right: 0;">
                        <table width="100%">
                            <tr colspan="4"><td>2012/11</td></tr>
                            <tr><td>Income<br>Stock</td><td>Income<br>Amount</td><td>Expense<br>Stock</td><td>Expense<br>Amount</td></tr>
                        </table>
                        </th>
                        <th data-field="last_stock" colspan="2">
                        <table>
                            <tr colspan="2"><td>2012/11/30</td></tr>
                            <tr><td style="width: 50%">Stock</td><td>Amount</td></tr>
                        </table>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
{% endblock %}
    
    
{% block javascripts_embedded %}
<script>
var warehouseUrlObj = {read: "{{ path('AccountingWarehouseBundle_list') }}"};
</script>
<script src="{{ asset('bundles/accounting/js/warehouse.main.js') }}"></script>
{% endblock %}
