{# src/Accounting/WarehouseBundle/Resources/views/Default/index.html.twig #}
{% extends 'AccountingWarehouseBundle::layout.html.twig' %}

{% block body %}
    <h2>Warehouse</h2>
    <ul id="menu">
        <li><a href="{{ path('AccountingWarehouseBundle_index') }}">Last month</a></li>
    </ul>
    <div id="clientsDb">

      {% block form %}{% endblock %}

        <div id="" style="height: 500px">
            <table id="grid">
                <thead>
                    <tr>
                        <th data-field="product_group">Product Group</th>
                        <th data-field="code">code</th>
                        <th data-field="product_name">Product Name</th>
                        <th data-field="unit">Unit</th>
                        <th data-field="first_stock" colspan="2">
                        <table>
                            <tr colspan="2"><td>2012/10/31</td></tr>
                            <tr><td style="width: 50%">Stock</td><td>Amount</td></tr>
                        </table>
                        </th>
                        <th data-field="income_stock" colspan="4" style="padding-left: 0;padding-right: 0;">
                        <table width="100%">
                            <tr colspan="4"><td>2012/11</td></tr>
                            <tr><td>Income<br>Stock</td><td>Income<br>Amount</td><td>Expense<br>Stock</td><td>Expense<br>Amount</td></tr>
                        </table>
                        </th>
                        <th data-field="last_stock" colspan="2">
                        <table>
                            <tr colspan="2"><td>2012/11/30</td></tr>
                            <tr><td style="width: 50%">Stock</td><td>Amount</td></tr>
                        </table>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
{% endblock %}
    
    
{% block javascripts_embedded %}
        <script src="{{ asset('bundles/test/js/warehouse.js') }}"></script>
<script>
    
$(document).ready(function() {
    var dataSource = createWarehouse(10);
$("#grid").kendoGrid({
    dataSource: {
        data: dataSource,
        autoSync: true,
        schema: {
            model: {
                fields: {
                    product_group: { type: "string", editable: false },
                    code: { type: "string", editable: false },
                    product_name: { type: "string", editable: false },
                    unit: { type: "string", editable: false },
                    price: { type: "number", editable: false },
                    first_stock: { type: "number", editable: false },
                    first_amount: { type: "number", editable: false },
                    first_date: { type: "date", editable: false },
                    income_stock: { type: "number" },
                    income_amount: { type: "number", editable: false },
                    expense_stock: { type: "number" },
                    expense_amount: { type: "number", editable: false },
                    last_stock: { type: "number", editable: false },
                    last_amount: { type: "number", editable: false },
                    last_date: { type: "date", editable: false }
                }
            }
        },
        pageSize: 10,
    },
    height: 500,
    scrollable: true,
    //sortable: true,
    //filterable: true,
    pageable: {
        pageSizes: true,
        refresh: true
    },
    editable: false,
    change: function(arg){
        var grid = $("#grid").data("kendoGrid");
        grid.saveRow();
        grid.refresh();
        console.log("save & refresh");
    },
    columns: [
        {
            field: "product_group",
            title: "Product Group"
        },
        {
            field: "code",
            title: "code",
            width: 70
        },
        {
            field: "product_name",
            title: "Product Name"
        },
        {
            field: "unit"
        },
        {
            field: "first_stock",
            title: "Stock<br>2012/10/31"
        },
        {
            field: "first_amount",
            title: "Amount<br>2012/10/31",
            template: '#= kendo.toString(price*first_stock, "n")#'
        },
        {
            field: "income_stock",
            title: "Income Stock"
        },
        {
            field: "income_amount",
            title: "Income Amount",
            template: '#= kendo.toString(price*income_stock, "n")#'
        },
        {
            field: "expense_stock",
            title: "Expense Stock"
        },
        {
            field: "expense_amount",
            title: "Expense Amount",
            template: '#= kendo.toString(price*expense_stock, "n")#'
        },
        {
            field: "last_stock",
            title: "Stock<br>2012/11/30",
            template: '#= kendo.toString(first_stock + income_stock - expense_stock, "n")#'
        },
        {
            field: "last_amount",
            title: "Amount<br>2012/11/30",
            template: '#= kendo.toString(price*(first_stock + income_stock - expense_stock), "n")#'
        },
    ]
});
});
</script>
{% endblock %}
