{# src/Accounting/PriceListBundle/Resources/views/Page/index.html.twig #}
{% extends 'AccountingPriceListBundle::layout.html.twig' %}

{% block javascripts_embedded %}
<script>
var pricesUrlObj = {read: "{{ path('AccountingPriceListBundle_list') }}"};
</script>
<script src="{{ asset('bundles/accounting/js/prices.main.js') }}"></script>
{% endblock %}

{% block body %}
    <h2>Price List</h2>
    <div id="clientsDb">

        <div id="grid" style="height: 350px"></div>

    </div>
{% endblock %}
