{# src/Accounting/PriceListBundle/Resources/views/Page/index.html.twig #}
{% extends 'AccountingPriceListBundle::layout.html.twig' %}

{% block body %}
    <h2>Price List</h2>
    <div id="clientsDb">

        <div id="grid" style="height: 350px"></div>

    </div>
{% endblock %}
    
    
{% block javascripts_embedded %}
<script>
$(document).ready(function() {
$("#grid").kendoGrid({
    dataSource: {
        type: "json",
        transport : { read: "{{ path('AccountingPriceListBundle_list') }}" },
        schema: {
            model: {
                fields: {
                    id: { type: "number" },
                    code: { type: "string" },
                    name: { type: "string" },
                    unit: { type: "string" },
                    last_stock: { type: "number" },
                    last_price: { type: "number" }
                }
            }
        },
        pageSize: 10
    },
    height: 350,
    scrollable: true,
    sortable: true,
    filterable: true,
    pageable: {
        pageSizes: true,
        refresh: true
        //input: true
        //numeric: false
    },
    columns: [
        {
            field: "code",
            title: "Code",
            width: 30
        },
        {
            field: "name",
            title: "Name",
            width: 100
        },
        {
            field: "unit",
            title: "Units",
            width: 15
        },
        {
            field: "last_stock",
            title: "Stock",
            width: 20
        },
        {
            field: "last_price",
            title: "Price",
            width: 30
        }
    ]
});
});
</script>
{% endblock %}
