{# src/Accounting/ChargesBundle/Resources/views/Default/charge.html.twig #}
<div id="chargeNew" style="display: none">
    <form id="chargeForm">
        <div class="k-edit-form-container" style="width: 290px">
            <div class="k-edit-field"><input class="k-input k-textbox" data-bind="value: name" /></div>
            <a class="k-button k-button-icontext k-grid-update" href="#" data-bind="click: save"><span class="k-icon k-update"></span>Save</a>
        </div>
    </form>
</div>