{# src/Accounting/ChargesBundle/Resources/views/Page/index.html.twig #}
{% extends 'AccountingChargesBundle::layout.html.twig' %}

{% block body %}
    <h2>Charges</h2>
    <div id="clientsDb">

        {% block form %}
            <div class="form-picker">
                <input id="monthpicker" value="" style="width:150px" />

                <button class="k-button" id="month_search">Search</button>
            </div>
      {% endblock %}

        <div id="grid" style="height: 350px"></div>

    </div>
{% endblock %}
    

{% block javascripts_embedded %}
<script>
var chargesUrlObj = {
read: "{{ path('AccountingChargesBundle_list') }}",
load: "{{ path('AccountingChargesBundle_load') }}",
create: "{{ path('AccountingChargesBundle_create') }}"
}
</script>
<script src="{{ asset('bundles/accounting/js/charges.main.js') }}"></script>
{% endblock %}
